body {
  padding: 0;
  color: #333;
  width: 500px;
  font-size: 12px;
  margin: 10px auto;
  font-family: arial, sans-serif;
  border: solid 1px rgba(0,0,0,0.1);
}

table {
  border: 0;
  width: 100%;
  color: #333;
  padding: 10px;
  border-spacing: 0;
}

input, select, table tr td {
  transition: 0.3s ease all;
  font-family: arial, sans-serif;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

input[type="checkbox"] {
  margin: 0;
  float: right;
  vertical-align: middle;
}

input[type="button"] {
  margin: 0;
  width: 100%;
  color: #333;
  cursor: pointer;
  padding: 8px 5px;
  box-shadow: none;
  background-color: #FFF;
  border: solid 1px rgba(0,0,0,0.2);
}

select {height: 32px}

table tr td {height: 24px}

.title, select, option {
  color: #333;
  font-size: 12px;
  font-family: arial, sans-serif;
}

select {
  margin: 0;
  width: 100%;
  padding: 5px;
  box-shadow: none;
  background-color: #FFF;
  border: solid 1px rgba(0,0,0,0.2);
}

.note {
  color: #777;
  font-family: arial, sans-serif;
}
